
.table {
  border-collapse: collapse;
}

.cell {
  width: 30px;
  height: 30px;
  border: 1px solid #000;
}

.black {
  background-color: black;
}

.white {
  background-color: white;
}
