<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>VueJs 15.04.2021</title>
  </head>
  <body>
    <!-- Задача № 1 - Подключение VueJS через CND -->
    <div id="app">{{ username }}</div>

    <!-- Задача № 2 - вычисляемые свойства и работа с моделью -->
    <div id="app2">
      <input type="date" v-model="year" />
      {{ age }}
    </div>

    <!-- Задача № 3 - отслеживание изменений переменной -->
    <div id="app3">
      <h3>On which language you program?</h3>
      <p><input type="radio" name="language" v-model="language" value="JS" />JavaScript</p>
      <p><input type="radio" name="language" v-model="language" value="Python" /> Python</p>
      <p><input type="radio" name="language" v-model="language" value="Java" /> Java</p>
      <label>Experience?</label>
      <input type="text" v-model="experience" />
      <label>age</label>
      <br />
      <label>Your salary</label>
      ${{ salary }}
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="JS/index.js"></script>
  </body>
</html>
